<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="QS Rotate"
        android:supportsRtl="true"
        android:theme="@style/Theme.Transparent">

        <activity
            android:name=".RotationActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/Theme.Transparent"/>

        <activity
            android:name=".PermissionRequestActivity"
            android:exported="true"
            android:theme="@style/Theme.QSRotate">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service
            android:name=".RotationTileService"
            android:exported="true"
            android:label="Rotate"
            android:icon="@drawable/ic_screen_rotation"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>
</manifest>